development:
  sessions:
    default:
      database: scorify_api_development
      hosts:
        - localhost:27017
      username: admin
      password: polki890
      options:
  options:
    raise_not_found_error: false
test:
  sessions:
    default:
      database: scorify_api_test
      hosts:
        - localhost:27017
      username: admin
      password: polki890
      options:
        read: primary
        max_retries: 1
        retry_interval: 0
  options:
    raise_not_found_error: false
production:
  sessions:
    default:
     # The standard MongoDB connection URI allows for easy
     # replica set connection setup.
     # Use environment variables or a config file to keep your
     # credentials safe e.g. <%= ENV['MONGOLAB_URI'] %>.
     
     # uri: <%= ENV['MONGOLAB_URI'] %>
      database: scorify_api_production
      hosts:
        - localhost:27017
      username: admin
      password: polki890


      options:
       # max_retries specifies the number of times to attempt
       # an operation before giving up.
        max_retries: 30

       # retry_interval specifies the number of seconds to wait
       # before retrying a single operation.
        retry_interval: 1

       # The default timeout is 5, which is the time in seconds
       # for an operation to time out.
       # We recommend 15 because it allows for plenty of time
       # in most operating environments.
       # Mongoid doubles the configured value (known issue) so
       # 15 results in a timeout of 30s.
       # Note that if you have a long-running query
       # (over 30 seconds), it will time out.
       # See our example for long-running queries in the blog
       # post referenced above.
        timeout: 15

       # refresh_interval specifies the number of seconds to cache server information.
       # Lowering this number will help the driver recover more quickly from changes to replica set reconfiguration
        refresh_interval: 10
